.content {
    display: flex;
    justify-content: space-around;
  }
  
  .settings {
    width: 500px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }
  
  .banner {
    width: 55%;
    align-self: center;
    padding: 8px;
  }
  .inputField_Size .css-1ll44ll-MuiOutlinedInput-notchedOutline{
    min-width: 100%;
  }

  .inputField_Size .css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root{
    width: 100%;
  }


  
  @media (max-width: 800px) {
    .content {
      flex-direction: column-reverse;
      align-items: center;
    }
    .banner {
      width: 85%;
      padding: 0;
      padding-top: 20px;
    }
    .settings {
      width: 100%;
    }
  }
  
  .settings__select {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
  }